/* 首页样式 */
/* 版心 */
.wrapper {
  margin: 0 auto;
  width: 1200px;
}

body {
  background-color: #f3f5f7;
}

/* 头部区域 */
.header {
  height: 100px;
  background-color: #fff;
}

.header .wrapper {
  display: flex;
  padding-top: 29px;
}

/* logo */
.logo a {
  display: block;
  width: 195px;
  height: 41px;
  background-image: url(../images/logo.png);
  font-size: 0;
}

/* 导航 */
.nav {
  margin-left: 102px;
}

.nav ul {
  display: flex;
}

.nav li {
  margin-right: 24px;
}

.nav li a {
  display: block;
  padding: 6px 8px;
  line-height: 27px;
  font-size: 19px;
}

/* active只是类选择器, 表示默认选中的a */
.nav li .native,
.nav li a:hover {
  border-bottom: 2px solid #00a4ff;
}

/* 搜索 */
.search {
  display: flex;
  width: 412px;
  height: 40px;
  background-color: #f3f5f7;
  border-radius: 20px;
  margin-left: 64px;
  padding-left: 19px;
  padding-right: 12px;
}

.search input {
  flex: 1;
  border: 0;
  /* 设置背景色为透明色 */
  background-color: transparent;
  /* 去掉表单控件的焦点框 */
  outline: none;
}

/* ::placeholder选中的就是input的placeholder属性 */
.search input::placeholder {
  font-size: 12px;
  color: #999;
}

/* 弹性盒子设置宽高生效 */
.search a {
  width: 16px;
  height: 16px;
  background-image: url(../images/search.png);
  /* 设置弹性盒子自己侧轴居中 */
  align-self: center;
}

/* 用户 */
.user {

  margin-left: 32px;
  margin-top: 4px;
}

.user img {
  /* vertical-align 行内块和行内垂直方向对齐方式 */
  vertical-align: middle;
  margin-right: 7px;
}

.user span {
  font-size: 16px;
  color: #666;
}


/* banner区域 */
.banner {
  height: 420px;
  background-color: #0092cb;
}

.banner .wrapper {
  display: flex;
  justify-content: space-between;
  height: 420px;
  background-image: url(../uploads/banner.png);
}

.banner .left {
  padding: 3px 20px;
  width: 191px;
  height: 420px;
  background-color: rgba(0, 0, 0, 0.42);
}

.banner .left a {
  display: block;
  height: 46px;
  line-height: 46px;
  background: url(../images/right.png) no-repeat right center;
  font-size: 16px;
  color: #fff;
}

.banner .left a:hover {
  background: url(../images/right-hover.png) no-repeat right center;
  color: #00a4ff;
}


.banner .right {
  width: 218px;
  height: 305px;
  background-color: #209dd5;
  margin-top: 60px;
  border-radius: 10px;
}

.banner .right h3 {
  height: 48px;
  margin-left: 14px;
  line-height: 48px;
  font-size: 15px;
  color: #fff;

}

.banner .right .content {
	height: 257px;
	background-color: #ffffff;
	border-radius: 10px;
  padding: 14px;
}

.banner .right .content dl{
  margin-bottom: 12px;
  border-bottom: 1px solid #e0e0e0;
}

.banner .right .content dt {
  margin-bottom: 8px;
  font-weight: 700;
  line-height: 20px;
}

.banner .right .content dd {
  margin-bottom: 8px;
  line-height: 16px;
  font-size: 12px;
}

.banner .right .content dd span {
  color: #00a4ff;
}

.banner .right .content dd strong {
  color: #7d7d7d;
  font-weight: 400;
}

.banner .right .content a {
  display: block;
  height: 32px;
  background-color: #00a4ff;
  border-radius: 15px;
  text-align: center;
  line-height: 32px;
  color: #ffffff;
  font-size: 14px;
}




